body {
    text-align:center;
    background-color: aqua;
}

h1 {
    text-align: center;
}
div{
    margin-top: 15px;
}
.image-section {

    display: flex;
    justify-content: center;
}

.image-selection {

    margin-right: 60px;
    margin-left: 60px;
    background-color: white;

}
